@use "../breakpoints";
@use "../variables";

.descriptions-sec {
  padding: 10rem 0 15rem;
  background-color: variables.$beige;

  @include breakpoints.lg {
    padding: 7rem 0;
  }

  @include breakpoints.md {
    padding: 7rem 0 3rem;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;

    @include breakpoints.xl {
      gap: 7rem;
    }

    @include breakpoints.lg {
      flex-direction: column;
      gap: 3rem;
    }
  }

  &__info {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include breakpoints.lg {
      align-items: center;
    }
  }

  &__title {

  }

  &__text {
    max-width: 60rem;

    @include breakpoints.lg {
      max-width: 80%;
      text-align: center;
    }

    @include breakpoints.md {
      font-size: 2rem !important;
      max-width: none;
    }
  }

  &__date {
    font-size: 3rem;
    font-weight: 200;
  }

  &__photos {
    position: relative;
    display: flex;
    align-items: flex-end;

    @include breakpoints.xl {
      flex-direction: column;
      align-items: center;
    }

    img {
      transition: variables.$transition;

      @include breakpoints.xl {
        width: 100% !important;
      }

      &:nth-child(1) {
        max-height: 45rem;
        width: 45rem;
        height: 100%;
        object-fit: cover;

        @include breakpoints.xl {
          object-position: bottom;
          max-height: 34rem;
          clip-path: inset(0 0 3rem);
        }
      }

      &:nth-child(2) {
        max-height: 25rem;
        transform: translateX(-5rem) translateY(5rem);

        @include breakpoints.xl {
          transform: translateX(0) translateY(-1rem);
        }
      }
    }


  }
}
