@use "../variables";
@use "../breakpoints";

.guest-form {
  padding: 7rem 0;
  background-color: variables.$beige;

  @include breakpoints.lg {
    padding: 4rem 0 5rem;
  }

  &__body {}

  &__title {
    text-align: center;
  }

  &__text {
    margin: 5rem 0 0 0;

    @include breakpoints.lg {
      margin: 3rem auto 0 auto;
      max-width: 70%;
    }

    @include breakpoints.md {
      font-size: 2rem !important;
    }

    @include breakpoints.sm {
      max-width: 90%;
      font-size: 1.8rem !important;
    }

    @include breakpoints.xs {
      max-width: none;
    }

    p {
      text-align: center;

    }
  }

  &__form {
    max-width: 60rem;
    margin: 5rem auto 0 auto;


    label, .ant-form-item-explain-error {
      font-family: variables.$ff-main;
      letter-spacing: 0 !important;
      text-align: center;
    }

    .ant-form-item-required {
      user-select: none;
      color: variables.$dark !important;
      font-size: 1.8rem !important;
      text-align: left;

      @include breakpoints.md {
        font-size: 1.6rem !important;
      }

      @include breakpoints.sm {
        font-size: 1.4rem !important;
      }
    }

    .ant-radio-group {
      display: flex;
      align-items: stretch;
      width: 100%;

      .ant-radio-button-wrapper {
        flex: 1 1 33%;
        border-radius: 0;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.35;
        font-size: 1.6rem;
        text-align: center;
        background-color: variables.$white;
        padding: .5rem 1rem;
        font-weight: 400;
        color: variables.$dark;
        border: 1px solid transparent;
        transition: font-weight variables.$transition, border-color variables.$transition;

        @include breakpoints.md {
        }

        &::before {
          display: none;
        }
      }

      .ant-radio-button-wrapper-checked {
        //color: variables.$black;
        background-color: variables.$semi-white;
        font-weight: 500;
        border-color: variables.$black;
      }
    }


    &-fields {}

    &-textarea {
      background-color: variables.$white;
      font-family: variables.$ff-main;
      font-weight: 400;
      color: variables.$dark;
      border: none;
    }

    &-footer {
      margin: 4rem 0 0 0;
      display: flex;
      justify-content: center;
    }

    &-submit {
      margin: 0 auto;
      background-color: variables.$semi-white;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1;
      border: 1px solid transparent;
      transition: border-color variables.$transition;
      font-family: variables.$ff-main !important;
      padding: 1rem 4rem !important;

      &:hover {
        border-color: variables.$black;
      }
    }
  }
}
