@use "../variables";

.guest-form {
  padding: 7rem 0;
  background-color: variables.$beige;

  &__body {}

  &__title {
    text-align: center;
  }

  &__text {
    margin: 5rem 0 0 0;

    p {
      text-align: center;
    }
  }

  &__form {
    max-width: 60rem;
    margin: 5rem auto 0 auto;


    label, .ant-form-item-explain-error {
      font-family: variables.$ff-main;
      letter-spacing: 0 !important;
    }

    .ant-form-item-required {
      user-select: none;
      color: variables.$dark !important;
      font-size: 1.8rem !important;
    }

    .ant-radio-group {
      display: flex;
      align-items: stretch;
      width: 100%;

      .ant-radio-button-wrapper {
        flex: 1 1 33%;
        border-radius: 0;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.35;
        font-size: 1.6rem;
        text-align: center;
        background-color: variables.$semi-white;
        border: none;
        padding: .5rem 1rem;
        font-weight: 400;
        color: variables.$dark;

        &::before {
          display: none;
        }
      }

      .ant-radio-button-wrapper-checked {
        color: variables.$white;
        background-color: variables.$button-color;
      }
    }


    &-fields {}

    &-textarea {
      background-color: variables.$semi-white;
      font-family: variables.$ff-main;
      font-weight: 400;
      color: variables.$dark;
      border: none;
    }

    &-footer {
      display: flex;
      justify-content: center;
    }

    &-submit {
      margin: 0 auto;
      background-color: variables.$button-color;
      color: variables.$semi-white;
      font-weight: 500;
    }
  }
}
