@use "../breakpoints";
@use "../variables";

.main-section {
  position: relative;
  height: 100dvh;

  &__text {
    position: absolute;
    margin-inline: auto;
    inset-inline: 0;
    inset-block-start: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-direction: column;
    z-index: 2;
    pointer-events: none;
    user-select: none;
    padding: 0 1.5rem;
  }

  &__title {
    text-align: center;
    font-size: 17rem;
    color: variables.$white;
    white-space: nowrap;

    @include breakpoints.xxxl {
      font-size: 12rem;
      letter-spacing: 0 !important;
    }

    @include breakpoints.xxl {
      font-size: 10rem;
    }

    @include breakpoints.xl {
      font-size: 8rem;
    }

    @include breakpoints.lg {
      font-size: 6rem;
    }

    @include breakpoints.md {
      font-size: 5rem;
    }

    @include breakpoints.sm {
      font-size: 4rem;
    }

    @include breakpoints.xs {
      font-size: 3.5rem;
    }
  }

  &__date {
    font-size: 5rem;
    color: variables.$white;
    font-weight: 300;

    @include breakpoints.lg {
      font-size: 3.5rem;
    }

    @include breakpoints.sm {
      font-size: 2rem;
    }
  }

  &__bg {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: variables.$dark;
      opacity: 0.4;
      z-index: 1;
    }
  }

  &__video {
    pointer-events: none;
    user-select: none;
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
