@use "../variables";
@use "../breakpoints";

.timer-sec {
  padding: 7rem 0;
  background-color: variables.$beige;

  @include breakpoints.md {
    padding: 3rem 0;
  }

  &__body {}

  &__title {
    text-align: center;
  }

  &__timer {
    margin: 5rem 0;
    display: flex;
    justify-content: center;

    @include breakpoints.lg {
      margin: 3rem 0 1rem;
    }
  }
}
