@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./../../public/fonts/Whitney-Light.woff2) format("woff2"),
  url(./../../public/fonts/Whitney-Light.woff) format("woff");
}

@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../../public/fonts/Whitney-Book.woff2) format("woff2"),
  url(./../../public/fonts/Whitney-Book.woff) format("woff");
}

@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./../../public/fonts/Whitney-Medium.woff2) format("woff2"),
  url(./../../public/fonts/Whitney-Medium.woff) format("woff");
}

@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./../../public/fonts/Whitney-Semibold.woff2) format("woff2"),
  url(./../../public/fonts/Whitney-Semibold.woff) format("woff");
}

@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(./../../public/fonts/Geologica-ExtraLight.woff2) format("woff2"),
  url(./../../public/fonts/Geologica-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./../../public/fonts/Geologica-Light.woff2) format("woff2"),
  url(./../../public/fonts/Geologica-Light.woff) format("woff");
}

@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../../public/fonts/Geologica-Regular.woff2) format("woff2"),
  url(./../../public/fonts/Geologica-Regular.woff) format("woff");
}

@font-face {
  font-family: "NunitoSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../../public/fonts/NunitoSans_Regular.woff2) format("woff2"),
  url(./../../public/fonts/NunitoSans_Regular.woff) format("woff");
}
