@use "breakpoints";
@use "variables";

h1, h2, h3, h4, h5, p, span {
  user-select: none;
  transition: font-size variables.$transition;
}

section {
  transition: padding variables.$transition;
}

img {
  pointer-events: none;
  user-select: none;
}

.h1 {
  font-size: 3.8rem;
  line-height: 1.4;
  color: variables.$black;
  font-weight: 500;
  text-align: center;

  @include breakpoints.sm {
    font-size: 2.4rem;
  }

}

.h-title {
  font-family: variables.$ff-decor;
  font-weight: 300;
  letter-spacing: -0.5rem;
  user-select: none;
}

.sec-title {
  user-select: none;
  font-family: variables.$ff-decor;
  font-size: 8rem;
  text-transform: uppercase;
  transition: font-size variables.$transition;

  @include breakpoints.xxl {
    font-size: 6rem;
  }

  @include breakpoints.xl {
    font-size: 5rem;
    letter-spacing: 0;
  }

  @include breakpoints.lg {
    font-size: 4.5rem;
  }

  @include breakpoints.md {
    font-size: 4rem;
  }

  @include breakpoints.sm {
    font-size: 3.5rem;
  }


}

.text {
  user-select: none;
  font-size: 2.3rem;
  font-weight: 300;
  letter-spacing: -0.085rem;
  line-height: 1.55;
}

.style-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  transition: background-color variables.$transition, color variables.$transition;
  user-select: none;
}

.ant-input {
  border-radius: 0;
}
